// centered image
@mixin centerBg($t){@extend .centerBg;background-image: $t;}
// responsive mixins
@mixin r($q){@media screen and (max-width:$q){@content;}}
// height and width
@mixin hw($p,$v){height:$p;width:$v;}
// font mixin
@mixin font($f,$w,$s){font-family:'#{$f}', sans-serif;font-weight:$w;font-size:$s;}
// barheight
@mixin barHeight($m){height:$m;line-height:$m; *{height:inherit;line-height:inherit;}}